// Bootstrap CSS import
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #f5f6fa;
  overflow: hidden;
}
// Bootstrap Icons import
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';